//
@import '~bootstrap';

.navbar-header {
    margin-bottom: 30px;
}

.cart {
    padding-top: 20px;
}

.head-line {
    font-weight: normal;
    font-size: 20px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
}

footer {
    margin-top: 30px;
}
