<template>
    <div class="add-to-cart">
        <div class="row">
            <div class="col-sm">
                Amount
            </div>
            <div class="col">
                <div class="quantity-container">
                    <button class="btn btn-danger" @click="quantity -= 1"><i class="fa fa-minus"></i></button>
                    <input class="form-control quantity" type="number" v-model="quantity">
                    <button class="btn btn-primary" @click="quantity += 1"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="col">
                <button class="btn btn-success" @click="addToCart()" :disabled="quantity <= 0"><i class="fa fa-cart-plus"></i> Add to Cart</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['productId'],
        data() {
            return {
                quantity: 0,
            }
        },
        methods: {
            async addToCart() {
                const response = await axios.post('/add-to-cart', {
                    productId: this.productId,
                    quantity: this.quantity
                })
                if (response.data.status == 'success') {
                    this.$store.commit('setCart', response.data.cart)
                    this.quantity = 0
                    this.$toasted.show('Added to cart!')
                } else {
                    this.$toasted.show('Could not add to cart!', {
                        type: 'error',
                    })
                }
            }
        }
    }
</script>

<style lang="scss">
    .add-to-cart {
        margin-top: 20px;
        justify-content: space-between;
    }
    .quantity-container {
        display: flex;
        justify-content: center;
        .quantity {
            margin-right: 5px;
            margin-left: 5px;
        }
    }
</style>
