<template>
    <div class="cart">
        <div class="row">
            <div class="col">
                <div class="title"><i class="fa fa-cart-plus"></i> Cart</div>
            </div>
            <div class="col" v-if="$store.state.cart != null">
                <button class="btn btn-danger" @click="clearCart()"><i class="fa fa-times"></i> Clear</button>
            </div>
        </div>
        <template v-if="$store.state.cart != null">
            <div class="row" v-for="(item, key) in $store.state.cart" :key="key">
                <div class="col">
                    {{ item.quantity + ' ' + item.name + '(s), ' + item.price + '&euro;'}}
                </div>
            </div>
        </template>
        <div v-else>
            Cart is empty!
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.loadData()
        },
        methods: {
            async loadData() {
                const response = await axios.get('/get-cart')
                this.$store.commit('setCart', response.data.cart)
            },
            async clearCart() {
                const response = await axios.post('/clear-cart')
                if (response.data.status == 'success') {
                    this.$store.commit('setCart', null)
                } else {
                    this.$toasted.show('Could not clear cart!', {
                        type: 'error',
                    })
                }
            }
        }
    }
</script>

<style lang="scss">
    .cart {
        border: 1px solid #ccc;
        padding: 5px;
        .title {
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            margin-bottom: 5px;
        }
    }
</style>
