<template>
    <div v-if="images && images.length > 0">
        <div class="row">
            <div class="col">
                <img class="img-responsive" :src="'/storage/' + current.filename" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="javascript:void(0)" v-for="image in images" :key="image.id" @click="setCurrentImage(image)">
                    <img class="thumbnails"  :src="'/storage/' + image.thumbnails" alt="" height="82">
                </a>
            </div>
        </div>
    </div>
    <div v-else>
        <img class="img-fluid" src="/images/no-image.jpg" alt="no image">
    </div>
</template>

<script>
    export default {
        props: ['images'],
        data() {
            return {
                current: (this.images && this.images.length > 0) ? this.images[0] : null
            }
        },
        methods: {
            setCurrentImage(image) {
                this.current = image
            }
        }
    }
</script>

<style lang="scss">
    .thumbnails {
        margin: 5px;
    }

    .img-responsive {
        width: 100%;
    }
</style>
