<template>
    <div class="details">
        <nav>
            <div class="nav nav-tabs nav-fill" role="tablist">
                <a class="nav-item nav-link active" data-toggle="tab" :href="'#nav-description-' + product.id">Description</a>
                <a class="nav-item nav-link" data-toggle="tab" :href="'#nav-delivery-' + product.id">Delivery</a>
                <a class="nav-item nav-link" data-toggle="tab" :href="'#nav-guarantees-payment-' + product.id">Guarantees Payment</a>
            </div>
        </nav>
        <div class="tab-content">
            <div class="tab-pane fade show active" :id="'nav-description-' + product.id" role="tabpanel">
                <span v-html="product.description"></span>
            </div>
            <div class="tab-pane fade" :id="'nav-delivery-' + product.id" role="tabpanel">
                Delivery for {{ product.name }}
            </div>
            <div class="tab-pane fade" :id="'nav-guarantees-payment-' + product.id" role="tabpanel">
                Guarantees Payment for {{ product.name }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['product'],
        data() {
            return {
            }
        },
        mounted() {
            // console.log(this.product)
        },
        methods: {
        }
    }
</script>

<style lang="scss">
    .details {
        margin-top: 20px;
        .tab-content {
            margin-top: 10px;
        }
    }
</style>
