<template>
    <section class="product">
        <div class="row">
            <div class="col-sm-6">
                <product-gallery :images="product.images"></product-gallery>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col">
                        <div class="title">{{ product.name }}</div>
                        <div class="brand">{{ product.brand.name }}</div>
                    </div>
                    <div class="col">
                        <div class="price">
                            <div class="row">
                                <div class="col" v-if="product.sale_price != null">
                                    <div class="original-price">{{ product.price }} &euro;</div>
                                </div>
                                <div class="col">
                                    <div class="sale-price float-right">{{ product.sale_price || product.price }} &euro;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <product-details :product="product"></product-details>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <add-to-cart :product-id="product.id"></add-to-cart>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import ProductGallery from './ProductGallery'
    import ProductDetails from './ProductDetails'
    import AddToCart from './AddToCart'

    export default {
        components: {
            ProductGallery,
            ProductDetails,
            AddToCart,
        },
        props: ['product'],
        data() {
            return {
                index: 1,
            }
        },
        mounted() {
            // console.log(this.product.brand.name)
        },
        methods: {
        }
    }
</script>

<style lang="scss">
    .product {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 10px;
    }
    .title {
        font-size: 30px;
    }
    .brand {
        font-size: 15px;
    }
    .price {
        border: 1px solid #ccc;
        padding: 5px;
        margin-top: 20px;
    }
    .sale-price {
        font-weight: bold;
        font-size: 20px;
    }
    .original-price {
        text-decoration: line-through;
        margin-top: 5px;
    }
</style>
